{% extends "base.html" %}

{% block header %}
    <h1>M1X10</h1>
{% endblock %}


{% block content %}

    <form method="POST" data-ajax="false">{{ form.csrf_token }}

        {{ form.email.label }}
        <span style="color: red;">
            {% for error in form.email.errors %}
                {{error}}
            {% endfor %}
        </span>
        {{ form.email(size=13) }}

        {{ form.password.label }}
        <span style="color: red;">
            {% for error in form.password.errors %}
                {{error}}
            {% endfor %}
        </span>
        {{ form.password(size=13) }}

        {{ form.submit(**{'data-role':"button", 'data-inline': "true"}) }}

    </form>

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

{%  endblock %}