{% extends "base.html" %}

{% block header %}
    <a href="{{ url_for('main.index') }}" data-ajax="false" data-icon="back" data-role="button">Back</a>
    <h1>Ciudades</h1>
{%  endblock %}


{% block content %}

    <ul data-role="listview" data-filter="true">

    {% for city in cities %}
        <li>
            <a href="" class="ui-link-inherit">{{ city.city_nam }}</a>
        </li>
    {% endfor %}

    </ul>

    <script>
        $(document).on( 'taphold', 'li.item', tapholdHandler );

        function tapholdHandler( event ){
          alert('Hello');
        }
    </script>

{% endblock %}
