{% extends "base.html" %}


{% block header %}
    <a href="{{ url_for('main.index') }}" data-ajax="false" data-icon="back" data-role="button">Back</a>
    <h1>{{ action }} ({% raw %}{{ message }}{% endraw %})</h1>
    <a href="{{ url_for('main.voter_delete', voterid=id) }}" data-ajax="false" data-icon="delete" data-role="button">Delete</a>
{% endblock %}


{% block content %}

    <form method="POST" data-ajax="false" enctype=multipart/form-data>{{ form.csrf_token }}

        {{ form.dpi.label }}
        <span style="color: red;">
        {% for error in form.dpi.errors %}
            {{error}}
        {% endfor %}
        </span>
        {{ form.dpi(size=13, **{'pattern':"[0-9]*", 'type':"number", 'v-model':"message"}) }}

        {{ form.name.label }}
        <span style="color: red;">
            {% for error in form.name.errors %}
                {{error}}
            {% endfor %}
        </span>
        {{ form.name() }}

        {{ form.email.label }}
        <span style="color: red;">
            {% for error in form.email.errors %}
                {{error}}
            {% endfor %}
        </span>
        {{ form.email() }}

        {{ form.phone.label }}
        {{ form.phone() }}
        {{ form.city_id.label }}
        {{ form.city_id() }}
        {{ form.referred.label }}
        {{ form.referred() }}

        {{ form.photo.label }}
        <span style="color: red;">
            {% for error in form.photo.errors %}
                {{error}}
            {% endfor %}
        </span>
        {{ form.photo(**{'accept':"image/*", 'capture': "camera"}) }}

        {{ form.submit(**{'data-role':"button"}) }}
    </form>

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}


{% endblock %}