{% extends "base.html" %}


{% block header %}
    <a href="{{ url_for('auth.logout') }}" data-ajax="false" data-icon="" data-role="button">Logout</a>
    <h1>Electores</h1>
    <a href="{{ url_for('main.voter_add') }}" data-ajax="false" class="ui-btn-right" data-icon="plus" data-role="button">Add</a>
{% endblock %}

{% block content %}
    <ul data-role="listview" data-filter="true">

    {% for voter in voters %}
        <li>
            <a href="{{ url_for('main.voter_edit', voterid=voter.id) }}" data-ajax="false" class="ui-link-inherit">{{ voter.name }}</a>
        </li>
    {% endfor %}

    </ul>
{% endblock %}